{% extends "public/templates/public_template.html" %}

{% block title %}Upload{% endblock %}

{% block main %}

<div class="container">
  <div class="row">
    <div class="col">

      <h1>Upload the txt file for prediction</h1>
      <hr>

      <form action="/upload_txt" method="POST" enctype="multipart/form-data">

        <div class="form-group">
          <label>Select test file for predicting RUL of the engines</label>
          <div class="custom-file">
            <input type="file" class="custom-file-input" name="txt" id="txt">
            <label class="custom-file-label" for="csv">Select csv...</label>
          </div>
        </div>

        <button type="submit" class="btn btn-primary">Upload</button>

      </form>

    </div>
  </div>
</div>

{% endblock %}